@model TemplateMongo.ViewModel.OccupationViewModel
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OccupationBag.Name)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.OccupationBag.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lstOccupations">
        @foreach (var item in Model.Occupations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td class="text-right">
                    @Html.ActionLink(" ", "Action", new { id = item.MongoID }, new { @class = "glyphicon glyphicon-edit", @title = "Edit", @id = "iconEdit" })
                    @Html.ActionLink(" ", "Action", new { id = item.MongoID }, new { @class = "glyphicon glyphicon-remove text-danger", @title = "Delete", @id = "iconDelete" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group text-center">
    @Html.PagerEditor()
</div>
